
{% extends "base.html" %}

{% block content %}
<h1>Nueva Tarea</h1>

{% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" class="form-control" name="titulo" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Responsable</label>
    <input type="text" class="form-control" name="responsable" required>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Tarea</button>
</form>
{% endblock %}